.card {
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        .imagen {
            display: flex;
            width: auto;
            height: 100%;
            border-radius: 10px;
            overflow: hidden;
            img {
                width: 100%;
                height: 18rem;
                border-radius: 10px;
            }
        }
        .card-title {
            color: black;
            font-size: 13px;
            text-align: center;
        }
        .card-subtitle {
            text-align: center;
        }
        .card-text {
            text-align: center;
        }
        
        .info {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}